<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'User List', users_path %></li>
  <li class="active">
  	<%= link_to 'Edit this user record', edit_user_path(@user) %>
  </li>
</ul>

<section class="container">

	<h2>Edit user</h2>

	<%= render 'form' %>

</section>
