<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'User List', users_path %></li>
  <li class="active"><%= link_to 'Add New User', new_user_path %></li>
</ul>

<section class="container">

	<h2>New user</h2>

	<%= render 'form' %>

</section>
