<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'View Star Systems', star_systems_path %></li>
  <li class="active">
  	<%= link_to 'Edit this star system record', edit_star_system_path(@star_system) %>
  </li>
</ul>

<section class="container">
	<h2>Modify Star System Record</h2>

	<%= render 'form' %>
</section>
