<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'View Star Systems', star_systems_path %></li>
  <li>
  	<%= link_to 'Edit this star system record', edit_star_system_path(@star_system) %>
  </li>
</ul>

<section class="container">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Name:</strong>
	  <%= @star_system.name %>
	</p>
</section>