<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'View Planets', planets_path %></li>
  <li class="active"><%= link_to 'Edit Planet', edit_planet_path(@planet) %></li>
</ul>

<section class="container">
	<h2>Modify Planets Record</h2>

	<%= render 'form' %>
</section>
